.hero-section {
    padding: 1rem;
    background-color: #495E57;
    color: #fff;
    width: 100vw;
}

.hero-title {
    color: #F4CE14;
}

.hero-location {
    font-weight: 700;
    letter-spacing: .75px;
}

.hero-descr {
    max-width: 45ch;
}

button {
    background-color: #F4CE14;
}

.hero-image {
    border-radius: 8px;
    height: auto;
    max-width: 300px;
    max-height: 367px;
    margin: 2rem;
}

/* Desktop */
@media screen and (width >= 1000px) {
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}