/********* HERO SECTION *********/
.hero-section {
    padding: 2rem;
    background-color: #495E57;
    color: #fff;
    width: 100vw;
}

.col-1, .col-2 {
    margin: auto 2rem;
    padding: .75rem;
}
    

.hero-title {
    color: #F4CE14;
}

.hero-location {
    font-weight: 700;
    letter-spacing: .75px;
}

.hero-descr {
    max-width: 45ch;
}

.hero-image {
    border-radius: 8px;
    height: auto;
    max-width: 300px;
    max-height: 367px;
    margin: 2rem;
}

/********* HIGHLIGHTS SECTION *********/
.highlights-section {
    margin: auto 0 auto 2rem;
    padding: 2rem;
}

.testimonials {
    list-style: none;
}

/********* TESTIMONIALS SECTION *********/
.testimonials-section {
    margin: 6rem ;
}
rem
.section-title {
    text-align: center;
}

.testimonials {
    margin: 4rem 1rem;
    padding: 1rem;
}

.user {
    margin: 2rem 0;
}

/********* ABOUT SECTION *********/
.about-section {
    padding: 2rem 2rem;

}

/* Desktop */
@media screen and (width >= 1000px) {
/********* HERO SECTION *********/
    .hero-section, .card-gallary {
        display: flex;
        flex: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .hero-title {
        margin: auto;    
    }

    .hero-section {
        overflow-x: hidden;
     }

    /********* HIGHLIGHTS SECTION *********/
    .card-gallary {
        gap: 2rem;
    }

    .announcement{
        display: flex;
        flex: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
    }

    /********* TESTIMONIALS SECTION *********/
    .testimonials {
        display: flex;
        flex: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 4rem 2rem;
    }

    /********* ABOUT SECTION *********/
    .about-section {
        display: flex;
        flex: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 6rem 0;
    }
}